
body {
  padding-top: 10%;
  position: relative;
  background-color: #CBCFD4;
  font-family: "Segoe UI Light","Segoe WPC","Segoe UI",
                Helvetica, Arial, "Arial Unicode MS", Sans-Serif;
}

#frame {
  background-color: #2E4053;
  min-height: 52vh;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-bottom: 3vh;
}

#topDisplay,
#botDisplay {
  font-family: "Segoe UI Light","Segoe WPC","Segoe UI",
                Helvetica, Arial, "Arial Unicode MS", Sans-Serif;
  display: block;
  width: 100%;
  line-height: 2em;
  margin: 0px;
  border: none;
  text-align: right;
  font-size: 2rem;
  font-weight: lighter;
}

#botDisplay {
  margin-top: -1.6em;
  font-size: 2.2rem;
}

#keys {
  width: 4rem;
  height: 4rem;
  margin: 0.1rem;
  margin-bottom: 0.2rem;
  font-size: 1.3rem;
}

#equalKeys {
  width: 8.46rem;
  height: 4rem;
  margin-left: 0.2rem;
  font-size: 1.3rem;
  transform: translate(-3%, 1px);
}

.lastrow{
    transform: translate(-3%, 0);
}

@font-face {
    font-family: 'segment7standard';
    src: url('segment7standard-webfont.woff2') format('woff2'),
         url('segment7standard-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
